.form-check-input:checked {
    background-color: rgb(0, 0, 0);
    border-color: rgb(255, 255, 255);
}

.form-switch .form-check-input {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='black'/%3e%3c/svg%3e");
}
.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
}
nav{
    transition: all 1s ease-in 0.5s;
}

#option1{
  background-color: red;
}

#btn2{
  background-image: url("bag.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

